.image1 {
    background-image: url(https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2015/04/ise-shrine-1-1024x683.jpg);
    background-position: center;
}

.image2 {
    background-image: url(https://www.gotokyo.org/en/destinations/western-tokyo/shibuya/images/xmain.jpg.pagespeed.ic.dMwK5EfW6X.jpg);
    background-position: center;
}

.image3 {
    background-image: url(https://img.theepochtimes.com/assets/uploads/2021/01/03/shutterstock_1685649130.jpg);
    background-position: center;
}